*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../tarjetapkm/img/pkmBackGround.png");
    background-size:cover;
    font-family: 'Roboto', sans-serif;
    font-size: 500;
}
.tamaño{
    max-width: 96000px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_tarjeta {
    margin: auto;
    box-sizing: border-box;
    height: 455px;
    width: 240px;
    background-color: #E3ABB5;
    border-radius: 15px;
    border: 2px #000 solid;
    box-shadow: 5px 5px 25px 5px grey,
        10px 10px 50px 5px grey;
} */
.container_tarjeta{
    margin: auto;
    /* background-color: rgba(72, 99, 99, 0.9); */
    background-color: rgb(183, 183, 91);
    width: 300px;
    height: 450px;
    border-radius: 15px;
    border: 2px black solid;
    box-shadow: 2px 2px 2px 2px rgb(12, 3, 3),
            2px 2px 2px 2px rgb(44, 9, 9);
}
.pkm_name{
    background-color: #8a2be2;
    height: 2rem;
    font-size: 21px;
    color: rgb(10, 10, 9);
    margin: auto;
    padding: 2px;
    text-align: center;
    border-radius: 15px;
    border: 2px black solid;
    position: relative;
    bottom:15px;
    width: 70%;
}
.pkm_img{
    display: block;
    margin: auto;
    max-width: 170px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
}
.pkm_box{
    color: rgb(6, 5, 5);
    height: 190px;
    max-width: 300px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    background-color: rgba(84, 127, 127, 0.9);
    border-radius: 15px;
}
.pkm_type{
    color: rgb(125, 16, 40);
    display: block;
}
.pkm_type .pkm_poison{
    background-color: #8a2be2;
    border-radius: 20px;
    border: 2px solid #8a2be2;
    font-size: 15px;
    color: bisque;
}
.pkm_type .pkm_ghost {
    background-color: #e22ba8;
    border-radius: 20px;
    border: 2px solid #e22ba8;
    font-size: 15px;
    color: bisque;
    margin-right: 6px;
    margin-left: 6px;
}
.pkm_description{
    font-size: 1.4rem;
    color: #8b1000;
    margin-top: 6px;
}